div {
    text-align: center;
  }
  
  .btn-container {
    display: grid;
    max-width: "100%";
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
  }

  .example-button-row button,
.example-button-row a {
  margin-left: 20px;
}

  