<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Oil Refinery</span>
        
        <button mat-raised-button color="primary">Accent</button>
    </mat-toolbar-row>
  </mat-toolbar>
<router-outlet>
    <div class="btn-container">
        <button (click)="goToCrudeOilDistillation('Crude Oil Distillation')">Crude Oil Distillation</button>
        <button (click)="goToDieselHydroTreating('Diesel Hydro Treating')">Diesel Hydro Treating</button>
        <button (click)="goToFluidCatalyticCracking('Fluid Catalytic Cracking')">Fluid Catalytic Cracking</button>
        <button (click)="goToIsomerization('Isomerization')">Isomerization</button>
        <button (click)="goToSulferRecovery('Sulfer Recovery')">Sulfer Recovery</button>
        <button (click)="goToVacuumDisillation('Vacuum Distillation')">Vacuum Distillation</button>
    </div>
</router-outlet>
