<div>
  <button (click)="goToShellAndTube('Shell and Tube Info')" title="Shell and Tube">Shell and Tube</button>
    <p>This is the first step to a very long and tedious project for AspenTech. I am going to build a mobile application using Angular cli to track and monitor plant data in real time. I will be using and accessing AspenTech products.</p>
    <p>Steps:</p>
    <p>1. Brainstorm what the necessary components are and create the boiler plate code for them</p>
    <p>2. Create a navigator and buttons to go between components</p>
    <p>3. Figure out how to access the API and make requests to the database (Chris email)</p>
    <p>4. Display the meaningful data to the relative components</p>
    <p>5. Make it look good</p>
  
    <p>Notes: There is no need to have a login page in the beginning because itll be easier to work with the other components without an auth flow.</p>
    <p> The components will be: a home screen that gives a list of the unit operations available, then a unit operation list component, a unit operation screen that displays major inormation about the current state</p>
    <p> The home screen will display a list of the unit op list component with each relavent unit op</p>
    <p> The Unit operation list component will be a basic component like the ones used in flatlist for react and will have the name, location and a general indicators that displays how well the unit operation is performing at that time</p>
    <p> The Unit Operation screen will display the unit op and its current state(temp, pressure, reaction, etc.)</p>
  </div>
